{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/css1.css' %}">
<style>
body {
  background-image: url("https://st3.depositphotos.com/1103339/13209/v/1600/depositphotos_132095056-stock-illustration-abstract-seamless-pattern-in-postmodern.jpg");
  background: rgb(0, 0, 0);
  
}
</style>
</head>
<body>
 
 <div id="container_1">
    <h1 id="title">
    Welcome
  </h1><!--title-->
  <p id="description">
    Select the required option</option>.
  </p><!--description--->
    
  </div><!---container_1--->
  <div id="container">

    <h2>Already have Account</h2>
    <a href=""><button class="btn btn-success btn-block" type="button"><i class="fas fa-sign-in-alt"></i> Sign in</button></a>
    <hr>
    <!-- <p>Don't have an account!</p>  -->
    
      

      
        
      <h2>For New Users</h2>
      <a href="{% url 'signup' %}"><button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button></a>
      
     
    <!---survey-form--->
  </div><!--container_2--